{% extends "base.html.twig" %}

{% block body %}
    <h1>toutes vos annonces</h1>
{% for myRentAd in myRentAds %}
<section class="myRentAd">
    <div class="container">
        <h1> {{ myRentAd.title }} </h1>
        <p>{{myRentAd.nickname}}</p>
        <p> Créé le {{ myRentAd.createdAt | date('d/m/Y') }} à {{ myRentAd.createdAt | date('H:i') }}
        <div class="content">
            <p>{{ myRentAd.content | raw }}</p>
            <img src="/uploads/{{ myRentAd.image }}" width="200px" alt="">
        </div>
        <a class="btn btn-success"href="{{ path('rent_edit',{id:myRentAd.id}) }}">Modifier</a>
        <a class="btn btn-danger"href="{{ path('delete_ad',{id:myRentAd.id}) }}">Supprimer</a>
    </div>
</section>
{% endfor %}
{% endblock %}
