<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Loue Ton Paddle</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/solar/bootstrap.min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
    </head>
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{{ path('home') }}">LouesTonPaddle</a></h5>
            <nav class="my-2 my-md-0 mr-md-3">
                    <a class="p-2 text-grey" href="{{ path('home') }}"></a>
                    <a class="p-2 text-grey" href="{{ path('rent') }}">Coin des Annonces</a>
                    <a class="p-2 text-grey" href="{{ path('contact_us') }}">Contactez nous</a>
                    {% if app.user %}
                    <a class="p-2 text-grey" href="{{ path('rent_create') }}">Créer une Annonce</a>
                    <a class="p-2 text-grey" href="{{ path('my_rent_ads') }}">Modifiez mes Annonces</a>
                    {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                    <a class="p-2 text-grey" href="{{ path('admin') }}">Interface d'administration</a>
                    {% endif %}
            </nav>
            <a class="btn btn-danger" href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
            <a class="btn btn-success" href="{{ path('app_login') }}">Login</a>
            <a class="btn btn-primary" href="{{ path('security_registration') }}">S'inscrire</a>
            {% endif %}
        </div>
        {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    {% if ( label == 'success' ) %}
                        <div class="alert alert-success alert-dismissible fade show">
                            {{ flash }}
                        </div>
                    {% elseif ( label == 'error' ) %}
                        <div class="alert alert-danger alert-dismissible fade show">
                            {{ flash }}
                        </div>
                    {% endif %}
                {% endfor %}
        {% endfor %}
        <footer id="footer" class="container-fluid">
                    <p>Tous droits réservés © <a href="https://powned.fr">Lowriider</a> 2020  - Formation Openclassrooms - Développeur Web Junior - Projet n°5 : projet libre</p>
        </footer>
    </body>

</html>